*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.section1{
    background-color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    color: white;
 margin: 3%;
 justify-content: space-around;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links .item-links{
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}
.header-content{
    display: flex;
     justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 6%;
width: 90%;
}
.header-content .heading{
      width: 60%;
    margin-left: 20%;
}
.header-content .heading .text1{
font-size: 48px;
font-weight: 900;
color: #F9FAF8;
}
.header-content .heading button{
    background-color: blue;
    color: #E5E7EB;
    font-size: 18px;
    outline: none;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
}
.header-content .heading .text2{
    font-size: 18px;
    color: #E5E7EB;

}
.header-content .header-content2{
    background-color: gray;
    width: 60%;
        font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   margin-left: -9%;

}